body { 
	background-color: #000; 
	color: #fff;
	border-color: #fff;
	font-family: "Comic Sans", "Comic Sans MS", "Arial";
	font-size: 18px; 
}
.title { 
	margin: 0px 0px 18px 0px; 
	font-size: 24px; 
	font-weight: bold; 
}
a { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }
a.nav {
	font-size: 14px;
	text-align: left;
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left:  10px solid #5abeff;
	border-right: 10px solid #5abeff;
	background-color: #4141ff;

	color: #fff;
	text-decoration: none;
	width: 100%;
}
html>body a.nav { width: auto; }
a.nav:hover {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #1c64d1;
	background-color: #2586d7;
	color: #fff;
}
a.nav2 {
	font-size: 14px;
	text-align: left;
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #1c64d1;
	background-color: #2586d7;

	color: #fff;
	text-decoration: none;
	width: 100%;
}
html>body a.nav2 { width: auto; }
a.nav2:hover {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #1c64d1;
	background-color: #2586d7;
	color: #fff;
}
